.planty-gout-shortcode {
    display: inline-block;
    position: relative;
}

.planty-gout-shortcode img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.planty-gout-shortcode .title {
    position:absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    color:white;
}
