/***********************************************
    CSS for 'planty-gout-shortcode' developed
    in functions.php
***********************************************/

.planty-gout-shortcode {
    display: inline-block;
    position: relative;
}

.planty-gout-shortcode img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.planty-gout-shortcode .title {
    font-weight: 800;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: normal;
    color:white;

    /* Over the whole image */
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    /* Centering */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************************************
    Media queries
***********************************************/

@media screen and (max-width: 700px) {
    
    .planty-gout-shortcode .title  {
    
        /* Word break auto */
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        overflow-wrap: normal; 
    }
}
