@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

/*
 * GENERAL SETTINGS
*/

:root {
    --main-color: #000;
    --main-bg-color: #FFF;
    --clairet-color: #C02E44;
    --saumon-color: #DC9F96;
}

* {
    font-family: 'Syne', sans-serif;
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
    text-align: center;
}

main article header.entry-header,
.site-description,
.toggle-text {
    display: none;
}

/*
 * HEADER SETTINGS
*/

#site-header > .header-inner {
    height: 80px;
    padding: 31px 0 30px 0;
}

.custom-logo {
    height: 19px;
}

ul.primary-menu {
    align-items: center;
    gap: 40px;
}

li.menu-item a {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-color) !important;
    text-decoration: none !important;
    transition: none;
}

li.menu-item a:hover,
li.menu-item.current-menu-item a {
    font-size: 13px;
    font-weight: 700;
    transition: none;
}

.primary-menu li:last-of-type a {
    font-size: 16px;
    font-weight: 700;
    line-height: 80px;
    padding: 0 61px;
    color: var(--main-bg-color) !important;
    background-color: var(--saumon-color);
}

.primary-menu li:last-of-type a:hover {
    background-color: var(--clairet-color);
}

/*
 * FOOTER SETTINGS
*/
#site-footer > .footer-inner {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-policy {
    margin-top: 0;
    margin-bottom: 0;
}

.privacy-policy-link {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-color) !important;
    text-decoration: none !important;
}

