@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

/****************************************************
General settings
****************************************************/

/*-----------------------------------------
Planty colors & size
-----------------------------------------*/

/* CSS colors used from customized 'theme.json' */
:root {
    --main-color: #000;
    --main-bg-color: #FFF;
    --clairet-color: #C02E44;
    --saumon-color: #DC9F96;
    --rose-provence-color: #E0B9B4;
    --sable-color: #ECE2DA;
    --ombre-color: #E3D9D0;
}

/* Centered content with min and max width */
body {
    margin: auto;
    min-width: 320px;
    max-width: 1440px;
}

/*-----------------------------------------
Override Twenty Twenty theme defaults
-----------------------------------------*/

/* 'Syne' font applied to every elements */
*, #page-title {
    font-family: 'Syne', sans-serif;
}

.entry-content p {
    line-height: 1.2em;
    letter-spacing: normal;
}

/*-----------------------------------------
Button (Twenty Twenty theme and Planty CF7)
-----------------------------------------*/

/*  WordPress and Planty Contact Form 7
submit buttons shared customization */
.wp-block-button .wp-block-button__link.wp-element-button,
#planty-form-submit-button {
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    padding: 9px 57px 9px 56px;
    border-radius: 5px;
    color: var(--main-bg-color);
    letter-spacing: normal;
    background-color: var(--rose-provence-color);
    text-decoration: none;
    text-transform: none;
}
.wp-block-button .wp-block-button__link.wp-element-button:hover,
#planty-form-submit-button:hover {
    background-color: var(--clairet-color);
    text-decoration: none;
    text-transform: none;
}

/*-----------------------------------------
Planty bottom image aka "guirlande"
-----------------------------------------*/

/* Maximum one Planty guirlande per page footer */
#planty-guirlande,
#planty-guirlande figure {
    margin-top: 0;
    margin-bottom: 0;
}

#planty-guirlande figure {
    height: 131px;
    width: 100%;
}

#planty-guirlande img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* In case of planty guirlande is under a 
sable background last block of a page */
.sable-background {
    background-color: var(--sable-color);
}

/*-----------------------------------------
Planty custom blocks

Class 'alignfull' added with Gutenberg in
"CLASSE(S) CSS ADDITIONNELLE(S)" field when
block has a filled background or need full
width.
-----------------------------------------*/

/* Bottom of sable color blocks */
.rounded-block-min {
    border-bottom-right-radius: 50% 18px;
    border-bottom-left-radius: 50% 18px;
}
.rounded-block-medium {
    border-bottom-right-radius: 50% 58px;
    border-bottom-left-radius: 50% 58px;
}
.rounded-block-max {
    border-bottom-right-radius: 50% 72px;
    border-bottom-left-radius: 50% 72px;
}

/* Shadow under sable color block */
.bottom-shadow {
    border-bottom: 8px solid var(--ombre-color);
}

/*-----------------------------------------
Twenty Twenty theme & CF7 simplification
-----------------------------------------*/

.post-meta-edit-link-wrapper,
main article header.entry-header,
.site-description,
.toggle-text,
.wpcf7-spinner {
    display: none;
}

/****************************************************
Header & footer settings
****************************************************/

/*============================================*/
/*  Common menu links
/*============================================*/

/*---------- Navigation menu ----------*/

#site-header li.menu-item a,
#planty-footer .privacy-policy-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--main-color);
    text-decoration: none;
    transition: none;
}
#site-header li.menu-item a:hover,
#site-header li.menu-item.current-menu-item a,
#planty-footer .privacy-policy-link:hover {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    text-decoration: none;
    transition: none;
}

/*---------- Mobile menu ----------*/

.menu-modal li.menu-item a {
    font-weight: 400;
    letter-spacing: 0;
    color: var(--main-color);
    text-decoration: none;
    transition: none;
}
.menu-modal li.menu-item a:hover,
.menu-modal li.menu-item.current-menu-item a {
    font-weight: 700;
    letter-spacing: 0;
    text-decoration: none;
    transition: none;
}

/*============================================*/
/*  Header special settings
/*============================================*/

/*---------- Child theme customization ----------*/

#site-header > .header-inner {
    height: 80px;
    padding: 31px 0 31px 0;
}

.custom-logo {
    height: 19px;
}

ul.primary-menu {
    align-items: center;
    gap: 30px;
}

/*---------- Custom last menu item  ----------*/

/* n - 1 menu items with theme standard :hover
Last menu item with child theme :hover */
#site-header .primary-menu li:last-of-type a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 20px;
    color: var(--main-bg-color);
}

#site-header .primary-menu li:last-of-type a::before {
    content: '';
    background-color: var(--saumon-color);
    position: absolute;
    z-index: -10;
    top: 0; 
    right: -40px; 
    bottom: 0; 
    left: 0;
}
#site-header .primary-menu li:last-of-type a:hover:before {
    background-color: var(--clairet-color);
}

/*============================================*/
/*  Footer special settings
/*============================================*/

#planty-footer.header-footer-group {
    margin: 0;
    height: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#planty-footer .privacy-policy {
    margin: 0;
}

/****************************************************
Page "Boisson énergisante naturelle"
****************************************************/

/*============================================*/
/*  Page title
/*============================================*/

#cover-main #page-title {
    margin-top: 25px;
    line-height: 45.6px;
    letter-spacing: normal;
}

/*============================================*/
/*  Cover with Can of Planty energy drink
/*============================================*/

#cover-main {
    padding-bottom: 0;
}

/*---------- Section decoration ----------*/

#cover-main .cover img {
    margin: auto;
    width: 57%;
    height: auto;
    object-fit: contain;
}

#cover-main .cover figure {
    max-width: 700px;
    position: relative;
    z-index: 0;
}

/* foliage on bottom left */
#cover-main .cover figure::before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 50%;
    height: 100%;
    bottom: 12%;
    left: 0;
    background-image: url('../img/feuilles-g.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}

/* foliage on bottom right */
#cover-main .cover figure::after {
    content: '';
    position: absolute;
    z-index: -10;
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 12%;
    background-image: url('../img/feuilles-d.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

/*============================================*/
/*  Section "L'énergie des plantes"
/*============================================*/

/*---------- Section title ----------*/

#flower-power .planty-title {
    margin-top: 72px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Syne', sans-serif;
}

/*---------- The power of plants ----------*/

#flower-power .container {
    max-width: 497px;
    margin-top: 47px;
    margin-bottom: 82px;
}

#flower-power .container p {
    margin-top: 0;
    margin-bottom: 0;
}

/*============================================*/
/*  Section "LES GOÛTS"
/*============================================*/

#planty-flavours {
    padding-bottom: 47px;
}

/*---------- Section title & subtitle ----------*/

#planty-flavours .planty-title {
    margin-top: 18px;
    margin-bottom: 7px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Syne', sans-serif;
}

#planty-flavours p {
    margin-top: 0;
    margin-bottom: 49px;
}

/*---------- Available flavours ----------*/

#planty-flavours .flavours {
    max-width: 850px;
    margin-bottom: 35px;
    gap: 30px;
}

.flavours .planty-gout-shortcode {
    margin-bottom: 10px;
}

/*============================================*/
/*  Section "CE QU’ILS EN PENSENT"
/*============================================*/

/*---------- Section title ----------*/

#testimonials .planty-title {
    margin-top: 115px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Syne', sans-serif;
}

/*---------- Customer testimonials ----------*/

#testimonials .customer-testimonials {
    margin-top: 84px;
    margin-bottom: 115px;
    justify-content: center;
}

#testimonials .customer-testimonials .customer-testimonial {
    max-width: 360px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    gap: 23px;
}

/* reduce boxes in boxes in boxes... */
#testimonials .customer-testimonials .customer-testimonial figure,
#testimonials .customer-testimonials .customer-testimonial .content {
    margin-top: 0;
    margin-bottom: 0;
}

#testimonials .customer-testimonials .customer-testimonial .planty-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Syne', sans-serif;
}

#testimonials .customer-testimonials .customer-testimonial .testimonial {
    margin-top: 11px;
    margin-bottom: 0;
}

/****************************************************
Page "Contacter équipe Planty"
****************************************************/

/*============================================*/
/*  Page title
/*============================================*/

#meet-planty #page-title {
    margin-top: 106px;
    line-height: 45.6px;
    letter-spacing: normal;
}

/*============================================*/
/*  Section "NOUS RENCONTRER"
/*============================================*/

/*---------- Section decoration ----------*/

#meet-planty {
    position: relative;
    z-index: 0;
}

/* Flower attached to top left */
#meet-planty::before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 191px;
    height: 100%;
    top: 71px;
    left: 9.9%;
    background-image: url('../img/fleur.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

/*---------- Meet Planty ----------*/

#meet-planty .container {
    max-width: 720px;
    margin-top: 27px;
    margin-bottom: -3px;
}

#meet-planty .container p {
    margin-top: 0;
    margin-bottom: 0;
}

/*============================================*/
/*  Section "L'équipe"
/*============================================*/

/*---------- Section title ----------*/

#planty-team .planty-title {
    margin-top: -13px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Syne', sans-serif;
}

/*---------- Team members ----------*/

#planty-team .planty-members {
    margin-top: 52px;
    margin-bottom: 1px;
    justify-content: center;
}

.planty-members .planty-member {
    max-width: 300px;
}

.planty-members .planty-member figure {
    margin-bottom: 20px;
}

.planty-members .planty-member img {
    object-fit: contain;
}

.planty-members .planty-member p {
    line-height: normal;
    margin-top: 11px;
    margin-bottom: 0;
}

/*---------- Section decoration ----------*/

#planty-team {
    position: relative;
    z-index: 0;
}

/* Foliage decoration attached to bottom right */
#planty-team:after {
    content: '';
    position: absolute;
    z-index: -10;
    width: 191px;
    height: 100%;
    right: 59px;
    bottom: 0;
    background-image: url('../img/feuilles-g.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

/*============================================*/
/*  Section "Nous contacter"
/*============================================*/

#contact-planty {
    padding-bottom: 49px;
}

/*---------- Section title ----------*/

#contact-planty .planty-title {
    margin-top: -14px;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Syne', sans-serif;
}

/*---------- Contact form ----------*/

#contact-planty .contact-form {
    max-width: 383px;
    margin-top: 45px;
    margin-bottom: 24px;
    text-align: center;
}

.contact-form .field {
    text-align: left;
    font-size: 1em;
    position: relative;
    z-index: 0;
}

.contact-form .field input {
    height: 71px;
    border-radius: 7px;
    margin-top: 13px;
    margin-bottom: 22px;
}

.contact-form .field textarea {
    height: 237px;
    border-radius: 7px;
    margin-top: 13px;
    margin-bottom: 24px;
}

/*---------- Section decoration ----------*/

.contact-form .field.decoration::before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 185px;
    height: 100%;
    bottom: -58px;
    left: -87px;
    background-image: url('../img/baies.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}

/*---------- "Envoyer" button ----------*/

.contact-form #planty-form-submit-button {
    width: 198px;
}

/****************************************************
Page "Commander"
****************************************************/

/*============================================*/
/*  Components
/*============================================*/

/* ========== Separators ========== */

#planty-order .horizontal-separator {
    width: 100%;
    height: 1px;
    background-color: var(--main-bg-color);
}

#planty-order .stretchable-separator {
    width: 1px;
    align-self: stretch;
    background-color: var(--main-bg-color);
}

/* ========== Number adjust button ========== */

#planty-order .small-btn {
    font-size: 20px;
    font-weight: 400;
    width: 31px;
    padding: 0;
    text-align: center;
    background-color: var(--saumon-color);
    text-decoration: none;
    position: absolute;
}
#planty-order .small-btn:hover {
    background-color: var(--clairet-color);
}

/* ========== Cart OK button ========== */

#planty-order .ok-button {
    font-size: 15px;
    font-weight: 400;
    width: 100px;
    line-height: 37px;
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 5px;
    letter-spacing: normal;
    background-color: var(--rose-provence-color);
    text-decoration: none;
    text-transform: uppercase;
}
#planty-order .ok-button:hover {
    background-color: var(--clairet-color);
}

/*============================================*/
/*  Page titles & form
/*============================================*/

#planty-order #page-title {
    margin-top: -11px;
    line-height: 45.6px;
    letter-spacing: normal;
    margin-bottom: 69px;
}

#planty-order .order-form {
    max-width: 860px;
    text-align: center;
}

#planty-order .section-title {
    font-size: 1.5em;
    font-weight: 700;
    text-align: left;
    color: var(--main-bg-color);
}

/*============================================*/
/*  Section "Votre commande"
/*============================================*/

#your-command .section-title {
    margin-top: 40px;
    margin-bottom: 39px;
}

#your-command .qty-by-flavour {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*--------------------------------------------*/
/*  Order quantities for each flavour
/*--------------------------------------------*/

/* ---------- Cover image and text ---------- */

#your-command .flavour .planty-gout-shortcode img {
    width: 193px;
    height: 129px;
}

#your-command .flavour .planty-gout-shortcode p {
    margin-bottom: 6px;
}

/* ---------- Flavour order quantity ---------- */

#your-command .flavour-quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
}

#your-command .quantity-field {
    width: 82px;
    height: 56px;
    position: relative;
}

#your-command .wpcf7-form-control.qty-counter {
    font-size: 16px;
    width: 82px;
    height: 56px;
    padding-left: 0;
    padding-right: 14px;
    text-align: center;
    border-radius: 7px;
}

/* Specific config. for '+' button */
#your-command .small-btn.inc {
    height: 27px;
    border-top-right-radius: 7px;
    top: 0;
    right: 0;
}

/* Specific config. for '-' button */
#your-command .small-btn.dec {
    height: 28px;
    border-bottom-right-radius: 7px;
    right: 0;
    bottom: 0;
}

/* Spacing control with next section */
#your-command .ok-button {
    margin-bottom: 19px;
}

/*============================================*/
/*  Sections "Vos Informations" & "Livraison"
/*============================================*/

#planty-order .order-form .order-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin-top: 53px;
}

#planty-order .order-infos .section-title {
    margin-bottom: 29px;
}

#planty-order .order-form .field {
    text-align: left;
    font-size: 1em;
    color: var(--main-bg-color);
}

#planty-order .order-form .field input {
    height: 71px;
    border-radius: 7px;
    margin-top: 13px;
}

#planty-order .order-form .personal {
    flex: 1;
    max-width: 383px;
}

#planty-order .order-form .delivery {
    flex: 1;
    max-width: 383px;
}

/*--------------------------------------------*/
/*  Form global submit button
/*--------------------------------------------*/

.order-form #planty-form-submit-button {
    margin-top: 23px;
    margin-bottom: -27px;
}

/****************************************************
Media queries
****************************************************/

@media screen and (max-width: 699px) {
    
    /*========== Common ==========*/
    .rounded-block-min {
        border-bottom-right-radius: 50% 9px;
        border-bottom-left-radius: 50% 9px;
    }
    .rounded-block-medium {
        border-bottom-right-radius: 50% 18px;
        border-bottom-left-radius: 50% 18px;
    }
    .rounded-block-max {
        border-bottom-right-radius: 50% 38px;
        border-bottom-left-radius: 50% 38px;
    }
    
    #planty-guirlande figure {
        height: 91px;
    }
    
    /*========== Page "Contacter équipe Planty" ==========*/
    #meet-planty::before {
        width: 91px;
        top: 10px;
        left: 1%;
    }
    
    #planty-team:after {
        width: 91px;
        right: 19px;
    }
    
    .contact-form .field.decoration::before {
        width: 100px;
        bottom: -29px;
        left: -43px;
    }
    
    /*========== Page "Commander" ==========*/

    #planty-order .section-title {
        text-align: center;
    }
    
    #your-command .flavour {
        flex-basis: 100%;
    }

    #planty-order .order-form .order-infos {
        flex-direction: column;
        align-items: center;
    }

    #planty-order .stretchable-separator {
        width: 100%;
        height: 1px;
        align-self: stretch;
        background-color: var(--main-bg-color);
    }    
    #planty-order .order-form .personal {
        margin-bottom: 19px;
    }
    #planty-order .order-form .delivery {
        margin-top: 53px;
    }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
    
    /*========== Common ==========*/
    .rounded-block-min {
        border-bottom-right-radius: 50% 18px;
        border-bottom-left-radius: 50% 18px;
    }
    .rounded-block-medium {
        border-bottom-right-radius: 50% 38px;
        border-bottom-left-radius: 50% 38px;
    }
    .rounded-block-max {
        border-bottom-right-radius: 50% 58px;
        border-bottom-left-radius: 50% 58px;
    }
    
    #planty-guirlande figure {
        height: 111px;
    }
    
    /*========== Page "Contacter équipe Planty" ==========*/    
    #meet-planty::before {
        width: 141px;
        top: 30px;
        left: 5%;
    }
    
    #planty-team:after {
        width: 141px;
        right: 39px;
    }
    
    /*========== Page "Commander" ==========*/
    #your-command .section-title {
        text-align: center;
    }
    #your-command .flavour {
        flex-basis: 50%;
    }
}
