@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

/* General settings */
body {
    font-family: 'Syne', sans-serif;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
}

/* Header navigation bar */
#site-header > .header-inner {
    height: 80px;
}

.custom-logo {
    height: 19px;
}

.site-description {
    display: none;
}

.primary-menu {
    gap: 60px;
}

li.menu-item a {
    font-size: 16px;
    font-weight: 400;
    line-height: 80px;
    color: black !important;
}

li.menu-item.current-menu-item a,
li.menu-item a:hover {
    font-size: 13px;
    font-weight: 700;
    text-decoration: none !important;
}

ul.primary-menu li:last-of-type a {
    padding: 0px 60px;
    color: white !important;
    background-color: #DC9F96;
}

ul.primary-menu li:last-of-type a:hover {
    background-color: #C02E44;
}

/* Footer legal */
#site-footer > .footer-inner {
    height: 60px;
    justify-content: center;
    align-items: center;
}

.privacy-policy-link {
    font-size: 16px;
    font-weight: 400;
    color: black !important;
    text-decoration: none !important;
}

