@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
/* 'Syne' font loaded and applied to every elements (except counter) */
* { font-family: 'Syne', sans-serif; }

/***********************************************
General settings
***********************************************/

/*----------------------------------------------
Override Twenty Twenty theme defaults if necessary
----------------------------------------------*/

/* Force h2 and h3 title to use site font */
.planty-title {
     font-family: 'Syne', sans-serif !important; 
}

.entry-content p {
    line-height: 1.2em;
}

/*----------------------------------------------
Planty colors & size
----------------------------------------------*/

/* CSS colors reflecting customized 'theme.json' */
:root {
    --main-color: #000;
    --main-bg-color: #FFF;
    --clairet-color: #C02E44;
    --saumon-color: #DC9F96;
    --rose-provence-color: #E0B9B4;
    --sable-color: #ECE2DA;
    --ombre-color: #E3D9D0;
}

/* Centered content with min and max width */
body {
    margin: auto;
    min-width: 320px;
    max-width: 1440px;
    letter-spacing: normal;
}

/*----------------------------------------------
Planty  button
----------------------------------------------*/

/*  WordPress and Planty Form 7
submit buttons shared customization */
.wp-block-button .wp-block-button__link.wp-element-button,
#planty-form-submit-button {
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    padding: 9px 56px;
    border-radius: 5px;
    color: var(--main-bg-color);
    background-color: var(--rose-provence-color);
    text-decoration: none;
    text-transform: none;
}
.wp-block-button .wp-block-button__link.wp-element-button:hover,
#planty-form-submit-button:hover {
    background-color: var(--clairet-color);
}

/*  Planty Form 7 submit
buttons specific customization */
#planty-form-submit-button {
    width: 198px;
}

/*----------------------------------------------
Planty bottom image aka "guirlande"
----------------------------------------------*/

.planty-guirlande,
.planty-guirlande figure {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.planty-guirlande figure {
    height: 131px;
    width: 100%;
}

.planty-guirlande img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sable-background {
    background-color: var(--sable-color);
}

/*----------------------------------------------
Planty custom blocks

Class 'alignfull' added with Gutenberg in
"CLASSE(S) CSS ADDITIONNELLE(S)" field when
block has a filled bacground or need full
width.
----------------------------------------------*/

.rounded-block-18px {
    border-bottom-right-radius: 50% 18px;
    border-bottom-left-radius: 50% 18px;
}

.rounded-block-58px {
    border-bottom-right-radius: 50% 58px;
    border-bottom-left-radius: 50% 58px;
}

.rounded-block-72px {
    border-bottom-right-radius: 50% 72px;
    border-bottom-left-radius: 50% 72px;
}

/* Bottom of the first block on main page */
.bottom-shadow {
    border-bottom: 8px solid;
    border-color: var(--ombre-color);
}

/*----------------------------------------------
Twenty Twenty theme & plugins simplification
----------------------------------------------*/

.post-meta-edit-link-wrapper,
main article header.entry-header,
.site-description,
.toggle-text,
.wpcf7-spinner {
    display: none;
}

/***********************************************
Header & footer settings
***********************************************/

li.menu-item a,
.privacy-policy-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--main-color) !important;
    text-decoration: none !important;
}
li.menu-item a:hover,
li.menu-item.current-menu-item a,
.privacy-policy-link:hover {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
}

/*----------------------------------------------
Header special settings
----------------------------------------------*/

/* Child theme customization */

#site-header > .header-inner {
    height: 80px;
    padding: 31px 0 31px 0;
}

.custom-logo {
    height: 19px;
}

ul.primary-menu {
    align-items: center;
    gap: 30px;
}

/* N - 1 menu items with theme :hover standard */
/* Last menu item with child theme :hover cutomization */
.primary-menu li:last-of-type a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 20px;
    color: var(--main-bg-color) !important;
}

.primary-menu li:last-of-type a::before {
    content: '';
    background-color: var(--saumon-color);
    position: absolute;
    z-index: -10;
    top: 0; 
    right: -40px; 
    bottom: 0; 
    left: 0;
}
.primary-menu li:last-of-type a:hover:before {
    background-color: var(--clairet-color);
}

/*----------------------------------------------
Footer special settings
----------------------------------------------*/

/* Child theme customization */

#site-footer.header-footer-group {
    margin: 0;
    height: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-policy {
    margin: 0;
}

/***********************************************
Page "Boisson énergisante naturelle"
***********************************************/

/*----------------------------------------------
Section d'accroche
----------------------------------------------*/

.accroche {
    padding-top: 5.25em !important;
    padding-bottom: 0 !important;
}

/* Le titre accrocheur */

.accroche .page-title {
    line-height: normal;
}

/* La bannière avec canette et feuilles */

.accroche .cover {
    margin: auto;
}

.accroche .cover figure {
    max-width: 700px;
    position: relative;
    z-index: 0;
}

.accroche .cover img {
    margin: auto;
    width: 56%;
    height: auto;
    object-fit: contain;
}

.accroche .cover figure::before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 50%;
    height: 100%;
    bottom: -38px;
    left: -5px;
    background-image: url('../img/feuilles-g.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.accroche .cover figure::after {
    content: '';
    position: absolute;
    z-index: -10;
    width: 50%;
    height: 100%;
    right: 5px;
    bottom: -38px;
    background-image: url('../img/feuilles-d.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/*----------------------------------------------
Section "L'énergie des plantes"
----------------------------------------------*/

.energie-plantes {
    max-width: 496px !important;
    margin-top: 72px !important;
    margin-bottom: 84px !important;
}

.energie-plantes h2 {
    margin-bottom: 46px;
}

.energie-plantes p {
    line-height: normal;
}

/*----------------------------------------------
Section "Les goûts"
----------------------------------------------*/

.planty-gouts {
    padding-top: 2px !important;
    padding-bottom: 48px !important;
}

.planty-gouts h2 {
    margin-bottom: 2px;
    line-height: normal;
}

.planty-gouts p {
    margin-bottom: 48px;
}

.planty-gouts .flavours {
    max-width: 900px !important;
    margin-bottom: 47px !important;
    gap: 30px;
}

/*----------------------------------------------
Section "CE QU’ILS EN PENSENT"
----------------------------------------------*/

.testimonials {
    max-width: 1174px !important;
    margin-top: 120px !important;
    margin-bottom: 48px !important;
}

.testimonials h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.temoignages-clients {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 8px !important;
}

.temoignage-client .zone-txt {
    min-width: 160px;
    width: 100%;
    gap: 7px;
    padding: 0 8px;
}

.temoignage-client .photo {
    min-width: 126px;
    min-height: 139px;
}

.temoignage-client .client{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.temoignage-client .temoignage {
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
}

/***********************************************
Page "Contacter équipe Planty"
***********************************************/

/*----------------------------------------------
Section "Nous rencontrer"
----------------------------------------------*/

.meet-us {
    position: relative;
    z-index: 0;
}

/* Flower decoration attached to block */
.meet-us::before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 191px;
    height: 170px;
    top: 71px;
    left: 10%;
    background-image: url('../img/fleur.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.meet-us .container {
    max-width: 720px;
    margin-top: 96px !important;
    margin-bottom: 0 !important;
}

.meet-us .container p {
    line-height: normal;
}

/*----------------------------------------------
Section "L'équipe"
----------------------------------------------*/

.planty-team {
    position: relative;
    z-index: 0;
}

/* Foliage decoration attached to top right */
.planty-team:before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 191px;
    height: 219px;
    bottom: 0;
    right: 0;
    background-image: url('../img/feuilles-g.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.planty-team .planty-members {
    width: 70%;
    margin-top: -3em !important;
}

.planty-member .name {
    margin-top: -1.5em;
    margin-bottom: -0.4em;
}

.planty-member .role {
    margin-bottom: 0.4em;
}

/*----------------------------------------------
Section "Nous contacter"
----------------------------------------------*/

.contact-planty {
    padding-bottom: 42px !important;
}

/*---------- Block title ----------*/

.contact-planty .block-title {
    margin-top: -14px;
    margin-bottom: 45px;
}

/*---------- Contact form ----------*/

.contact-planty .contact-form {
    max-width: 383px;
}

.contact-form .field {
    position: relative;
    z-index: 0;
    text-align: left;
    font-size: 1em;
}

.contact-form .field input {
    height: 71px;
    border-radius: 7px;
    margin-top: 13px;
}

.contact-form .field textarea {
    height: 237px;
    border-radius: 7px;
    margin-top: 13px;
    margin-bottom: 24px;
}

.contact-form .field.decoration::before {
    content: '';
    position: absolute;
    z-index: -10;
    width: 185px;
    height: 178px;
    top: 146.6px;
    right: 285.4px;
    background-image: url('../img/baies.png');
}

.contact-form:not(.field) {
    text-align: center;
}

/***********************************************
Page "Commander"
***********************************************/

/* Hide 'number' field type native controls */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* section separators */
.planty-order .horizontal-separator {
    width: 100%;
    height: 1px;
    background-color: var(--main-bg-color);
}
.planty-order .horizontal-separator.front {
    margin-bottom: 40px;
}
.planty-order .horizontal-separator.inside {
    margin-bottom: 53px;
}

.planty-order .vertical-separator {
    width: 1px;
    align-self: stretch;
    background-color: var(--main-bg-color);
}

/* Twenty Twenty theme customization */
.planty-order .order-form .section-title.front {
    margin-bottom: 39px;
}
.planty-order .order-form p:not(.section-title) {
    margin-bottom: 0;
}
.planty-order .order-form .section-title.inside {
    margin-bottom: 29px;
}

/*============================================*/
/*  Page titles
/*============================================*/

.planty-order .page-title {
    margin-top: -11px;
    margin-bottom: 69px;
}

.planty-order .section-title {
    font-size: 1.5em;
    font-weight: 700;
    text-align: left;
    color: var(--main-bg-color);
}

/*============================================*/
/*  Section order form
/*============================================*/

.planty-order .order-form {
    max-width: 860px;
    text-align: center;
}

/*----------------------------------------------
Order quantities for each flavour
----------------------------------------------*/

.order-form .flavours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ========== Flavour vertical block ========== */

.order-form .flavour {
    width: 193px;
}

/*  Covers with image and text are shared with the
shortcode defined in 'functions.php' and styled
into the file 'planty-gout-shortcode.css' */

.order-form .flavour .planty-gout-shortcode p {
    margin-bottom: 6px;
}

.order-form .flavour .planty-gout-shortcode img {
    height: 129px;
}

/* ---------- Flavour order quantity ---------- */

.order-form .flavour-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.order-form .quantity-field {
    width: 82px;
    height: 56px;
    position: relative;
}

.order-form .wpcf7-form-control.qty-counter {
    font-size: 16px;
    width: 51px;
    height: 56px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* Shared config. for '+' and '-' buttons */
.order-form .inc-btn,
.order-form .dec-btn {
    font-size: 20px;
    font-weight: 400;
    width: 31px;
    height: 28px;
    padding: 0;
    text-align: center;
    background-color: var(--saumon-color);
    text-decoration: none;
}
.order-form .inc-btn:hover,
.order-form .dec-btn:hover {
    background-color: var(--clairet-color);
}

/* Specific config. for '+' button */
.order-form .inc-btn {
    border-bottom: 1px solid var(--main-bg-color);
    border-top-right-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Specific config. for '-' button */
.order-form .dec-btn {
    border-bottom-right-radius: 7px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ---------- Flavour 'Ok' button ---------- */

.order-form .ok-button {
    font-size: 15px;
    font-weight: 400;
    width: 100px;
    height: 56px;
    border-radius: 7px;
    background-color: var(--rose-provence-color);
    text-decoration: none;
    text-transform: uppercase;
}
.order-form .ok-button:hover {
    background-color: var(--clairet-color);
}

/*----------------------------------------------
Personal and delivery informations
----------------------------------------------*/

.order-form .order-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 39px;
}

.order-form .field {
    text-align: left;
    font-size: 1em;
    color: var(--main-bg-color);
}

.order-form .field input {
    width: 383px;
    height: 71px;
    border-radius: 7px;
    margin-top: 13px;
    margin-bottom: 0;
}

/*----------------------------------------------
Form global submit button
----------------------------------------------*/

.order-form #planty-form-submit-button {
    margin-bottom: -7px;
}

/***********************************************
Media queries
***********************************************/

@media screen and (max-width: 720px) {
    
    .accroche .page-title,
    .meet-us .page-title,
    .planty-order .page-title {
        
        /* Word break auto */
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        overflow-wrap: normal; 
    }
    
    .meet-us::before {
        content: '';
        position: absolute;
        z-index: -10;
        width: 96px;
        height: 85px;
        top: 35px;
        left: 72px;
        background-image: url('../img/fleur.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .planty-guirlande figure {
        height: 100px;
    }
}

/* SANDBOX */


