@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

/*
* GENERAL SETTINGS
*/

:root {
    --main-color: #000;
    --main-bg-color: #FFF;
    --clairet-color: #C02E44;
    --saumon-color: #DC9F96;
    --rose-provence-color: #E0B9B4;
    --sable-color: #ECE2DA;
    --verdure-color: #3B8E46;
}

* {
    font-family: 'Syne', sans-serif !important;
}

body {
    font-family: 'Syne', sans-serif !important;
    max-width: 1440px;
    min-width: 320px;
    margin: auto;
    /* Main text elements are centered */
    text-align: center;
}

/* Planty custom button */

.wp-block-button__link.wp-element-button,
.wpcf7-form-control.wpcf7-submit {
    font-size: 15px;
    color: var(--main-bg-color);
    line-height: 37px;
    padding: 9px 56px;
    border-radius: 5px;
    background-color: var(--rose-provence-color);
    text-decoration: none !important;
}

.wp-block-button__link.wp-element-button:hover,
.wpcf7-form-control.wpcf7-submit:hover {
    background-color: var(--clairet-color);
    text-decoration: none;
}

/* Twenty Twenty theme & plugins simplification */

main article header.entry-header,
.site-description,
.toggle-text,
.wpcf7-spinner {
    display: none;
}

/*
* HEADER & FOOTER SETTINGS
*/

li.menu-item a,
.privacy-policy-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--main-color) !important;
    text-decoration: none !important;
}

/*
* HEADER SETTINGS
*/

/* Child theme customization */

#site-header > .header-inner {
    height: 80px;
    padding: 30px 0 31px 0;
}

.custom-logo {
    height: 19px;
}

ul.primary-menu {
    align-items: center;
    gap: 30px;
}

li.menu-item a:hover,
li.menu-item.current-menu-item a {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
}

.primary-menu li:last-of-type a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 20px;
    color: var(--main-bg-color) !important;
}

.primary-menu li:last-of-type a::before {
    content: '';
    background-color: var(--saumon-color);
    position: absolute;
    top: 0; right: -40px; bottom: 0; left: 0;
    z-index: -10;
}

.primary-menu li:last-of-type a:hover:before {
    background-color: var(--clairet-color);
}

/*
* FOOTER SETTINGS
*/

/* Child theme customization */

#site-footer.header-footer-group {
    margin: 0;
    height: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy-policy {
    margin: 0;
}

.privacy-policy-link:hover {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
}

/*
* MAIN PAGE STYLE
*/

/* Cover image */

.feuilles-canette {
    position: relative;
    height: 618px;
    gap: 0;
}

.feuilles-canette::before {
    content: '';
    background: url('../img/canette.png');
    position: absolute;
    width: 387px;
    top: 0;
    bottom: 60px;
    z-index: 10;
}

/* Pages */

/*
.energie-plantes {
    padding: 0 300px;
}

.gouts-boissons {
    width: 80%;
}

.temoignages {
    margin: 0;
    padding: 10px;
}

.temoignage {
    width: 370px;
}

.full-width-block {
    background-color: var(--sable-color);
}
*/

.rounded-block {
    border-bottom-right-radius: 50% 50px;
    border-bottom-left-radius: 50% 50px;
}
